@font-face {
    font-family: 'Vogue Highline Serif';
    src: url('VogueHighlineSerif-Medium.eot');
    src: url('VogueHighlineSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('VogueHighlineSerif-Medium.woff2') format('woff2'),
        url('VogueHighlineSerif-Medium.woff') format('woff'),
        url('VogueHighlineSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

